.DS_Store
._.DS_Store

*~.*
*.chk
*.bak
*.old
tmp.*
*.xcworkspace
xcuserdata/
build/
.repos/
dependency/
addiction/
mulle-dispense.sublime-workspace
mulle-project/publisher-info.sh
.gitignore
.mulle-make-build-dir
var/
cola/wilted/
mulle-markdown-preview-*.html
build-*/
