.DS_Store
*~.*
*.chk
*.bak
*.old
tmp.*
*.xcworkspace
xcuserdata/
build/
.repos/
.make.auto/
.make.local/
.make.repos/
dependencies/
addictions/
mulle-make.sublime-workspace
relpath-python.sh
relpath.sh
mulle-projec/publisher-info.sh

tutorial/*/.make

tests/
!*.sh
